@{
  Layout = "_Layout";
}
@using Treat.Models;

<div class="container">
  <div class="jumbotron">
    <h4>Flavors</h4>
    <h1>@Model.Name </h1>
    <small>@Model.Disc</small>
  </div>
  <h3>Snacks with this flavor:</h3>
  @if (Model.Flavors.Count == 0)
  {
    <p>@Model.Name has no Flavors availabe.</p>
  }

  <ul>
    @foreach (Flavor flavor in Model.Flavors)
    {
      <li>@flavor.Name</li>
    }
  </ul>
</div>