@{
  Layout = "_Layout";
}
@using Treat.Models;

<div class="container">
  <div class="jumbotron">
    <h4>Flavors</h4>
    <h1>@Model.Name </h1>
    <small>@Model.Disc</small>
  </div>
  @if (Model.Snacks.Count == 0)
  {
    <p> No Snacks availabe with @Model.Name</p>
  }
  <h3>Snacks with this flavor:</h3>
  <ul>
    @foreach (Snack snack in Model.Snacks)
    {
      <li>@snack.Name</li>
    }
  </ul>
</div>